.slick-prev {
  left: 25px;
  z-index: 30;
}

.slick-next {
  right: 30px;
  z-index: 30;
}

.slick-prev:before {
  font-size: 40px;
  color: rgb(4, 0, 0);
  filter: brightness(10px);
}

.slick-next:before {
  font-size: 40px;
  color: rgb(7, 0, 0);
}

.leaflet-container {
  height: 600px;
  width: 100%;
  display: block;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.map-container {
  width: 100%;
  height: inherit;
}
